*{
  margin:0;
  padding:0;
  font-family: sans-serif;
 }

 .banner{
  width: 100%;
  height:100vh;
  background-image:url("/images/counsel3.jpg"),linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75));
  background-size: cover;
  background-position: center;
}

.navbar{
  width:85%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content:space-between ;
}

.logo{
  width:160px;
  cursor: pointer;
}
.navbar ul li{
  list-style:none;
  display:inline-block;
  margin:0 20px;
  position: relative;
}

.navbar ul li a{
  text-decoration: none;
  color: #c2b280;
  text-transform: uppercase;
  font-weight: bold;
}

.navbar ul li::after{
  content: '';
  height: 3px;
  width:0%; 
  background:#979268;
  position: absolute;
  left:0;
  bottom:-10px;
  transition: 0.5s;
}

.navbar ul li:hover::after{
  width:100%;
}

.content{
  width:100%;
  position:absolute;
  top:50%;
  transform: translateY(-50%);
  text-align: center;
  color: #c2b280; 
}

.content h1{
  font-size: 70px;
  margin-top: 80px;
}



button{
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-size: 18px;
  font-weight: bold;
  border: 2px solid #c2b280;
  background: transparent ;
  color: #fff;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

span{
  background:#c2b280;
  height: 100%;
  width: 0;
  border-radius: 25px;
  position: absolute;
  left:0;
  bottom:0;
  z-index: -1;
  transition: 0.5s;
}

button:hover span{
  width:100%;
}

button:hover{
  border: none;
}

.footer{
  padding: 40px;
  background-color:#ffff;
}

.footer .social{
  text-align: center;
  padding-bottom: 25px;
  color: #4b4c4d;
}

 .footer .social a{
  font-size:24px;
  color: inherit;
  border: 1px solid #ccc;
  width:40px;
  height:40px;
  line-height:38px;
  display:inline-block;
  text-align: center;
  border-radius:50%; 
  margin:0 8px;
  opacity: 0.75;
 }

 .footer .social a:hover{
  opacity: 1.50;
 }

.footer ul{
  margin-top:0;
  padding: 0;
  list-style: none;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
  text-align:center;
}

.footer ul li a{
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer ul li{
  display: inline-block;
  padding: 0 15px;
}

.footer ul li a:hover{
  opacity: 1.65;
}

.footer .Copyright{
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color:#848482;

}

 
